# Ignore test binaries and dummy files
test.exe
test.apk
test.deb
*.apk
*.exe
*.deb
*.ipa

# Ignore temporary scan folders and generated reports
orchestrator/*.json
orchestrator/temp_*/
reports/
__pycache__/
*.pyc
